<h1>Demand accepted!</h1>
<br/>
<p>Dear <%= @current%>,</p>

<p>you are welcome to join the event the <%= @itinary.date %></p>
<p>From: <%= @itinary.start %></p>
<p>to: <%= @itinary.end %></p>
<br/>
<p>Looking forward to meet you there!</p>
<p>Cheers</p>
<a href="https://godownwind.online">go downwind!</a>
