Hello <%= @user %>
<p>
You can create an event and invite other users.</p>
<p>
To create an event, you need to put a date, a starting point and an end point.
</p>
<p>
You can invit select several participants, and even send a picture
to help people to localize a place.
</p>
<p>
When you save the event, the members will receive an invitation by email.
</p>

<p>Enjoy your ride!</p>
